@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');


/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

.fullWith {
	background: aqua;
}

/* Styles */
body{
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, p {
	font-family: 'Work Sans', Helvetica, Arial, sans-serif;
}
.uppercase {
	text-transform: uppercase;
}

/* header */
.logo {
	min-height: 94px;
	padding-top: 30px;
	padding: 30px 55px 55px 0;
}
.logo img{
	display: block;
	margin-left: auto;
	margin-right: auto
}

/* Services */

.serviceHeader{
	font-size: 1.1em;
	font-weight: 700;
}
.serviceHeader.nav-tabs {
	border-bottom: none;
}
.serviceHeader.nav-tabs .nav-link.active {
	border: none;
	color:#4496c2;
}
.serviceHeader.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
	border: none;  
}
li > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

li > a:hover {
  color: black;
}
li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4496c2;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Nav */

nav a {
	color:#3d4246;
}
nav a:hover {
	color:rgb(232, 233, 235);
}

/* Tab Nav */

.titleTab a {
	font-size: 2em;
	margin-left: 10px;
	margin-right: 50px;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }

/* Containers */
.containerSpace {
	margin: 80px 55px;
}

/* Accordion Card Steps */

.price {
	color: #ff970d;
}
.card {
	border: none;
}
.card-header {
	background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: none;
}
.card-header .btn-link {
	color: #000;
	font-weight: 700;
}
.card-header .btn-link:focus, .btn-link:hover {
	text-decoration: none;
	color: #4496c2;
}

.card-body {
	padding-top: 0;
}

/* Form Information */
.formInfo {
	margin-top: 43px;
}
.boldHeadline {
	font-weight: 700;
}
.quiltSize h4 {
	font-weight: 200;
	font-size: 1.25rem;
	
}
.quiltPrice h5 {
	font-weight: 700;
	margin-bottom: 30px;
}
.quiltPrice h5::after {
	content: " BASE PRICE";
	font-size: .85rem;
	font-weight: 200;
}