<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
	@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
  <link rel="stylesheet" type="text/css" media="screen" href="styles/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <link rel="shortcut icon" href="styles/favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>Jenny M&#39;s Quilting Company Longarm Machine Quilting Service</title>
</head>
<header class="logo">
	<img src="../images/Jenny_Ms_Quilting_Co_Logo.svg" alt="Jenny M’s Quilting Company Logo" height="94" width="150">
</header>
	<div class="container-fluid mb-5">
		<nav class="nav justify-content-center">
		      <a class="nav-item nav-link" href="https://jennymsquilts.com/">Home</a>
		      <a class="nav-item nav-link" href="https://jennymsquilts.com/collections">Products</a>
		      <a class="nav-item nav-link" href="https://jennymsquilts.com/blogs/news">Blog</a>
		      <a class="nav-item nav-link" href="https://jennymsquilts.com/pages/about-us">About Us</a>
		      <a class="nav-item nav-link" href="https://jennymsquilts.com/pages/contact-us">Contact Us</a>
		      <a class="nav-item nav-link" href="https://jennymsquilts.com/pages/classes-and-events">Classes and Events</a>
		</nav>
	</div> 
<body>
<div id="app"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
